<html>

<head>
    <meta charset="utf-8">
    <title>Allelleo | Beta</title>
    {% if theme == "white": %}
        <link rel="stylesheet" href="../static/css/page.css">
	{% else %}
        {% if theme == "dark": %}
            <link rel="stylesheet" href="../static/css/pageDark.css">
        {% endif %}
	{% endif %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="apple-touch-icon" href="https://vk.com/images/icons/pwa/apple/default.png?15">
</head>

<body>
    <script>{{ script }}</script>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
            <div class="loginbackground box-background--white padding-top--64">
                <div class="loginbackground-gridContainer">
                    <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                        <div class="box-root">
                        </div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                        <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                        <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                        <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                        <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                        <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                        <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                        <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                        <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
                    </div>
                </div>
            </div>
            <header>
                <a href="/page"><img class="mainphoto" src="{{ info[3] }}"></a>
                <nav>
                    <ul>
                        <li><a href="/page">Моя Страница</a></li>
                        <li><a href="/novosti">Новости</a></li>
                        <li><a href="/music">Музыка</a></li>
                        <li><a href="/videos">Видео</a></li>
                        <li><a href="/popular">Популярное</a></li>
                        <li><a href="/dev-contact">Связь с разработчиком</a></li>
                        <li><a href="/logout"><p style="color:red">Выйти</p></a></li>
                        {% if theme == "white": %}
                            <li style="cursor: pointer"><a onclick="changeTheme()"><img src="../static/img/page_icons/moon.png"/></a></li>
                        {% else %}
                            {% if theme == "dark": %}
                                <li style="cursor: pointer"><a onclick="changeTheme()"><img src="../static/img/page_icons/sun.png"/></a></li>
                            {% else %}
                                <li style="cursor: pointer"><a onclick="changeTheme()"><img src="../static/img/page_icons/moon.png"/></a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                    <h1><a href="https://vk.com/allelleo" rel="dofollow">A l l e l l e o | Beta</a></h1>
                </div>
                <div class="formbg-outer">
                    <div class="formbg">
                        <div class="formbg-inner padding-horizontal--48">
                            <div type="button" class="dashbord-done">регистрация пользователей</div>
                            <br>
                            <div type="button" class="dashbord-done">проверка условий регистрации ( пароль )</div>
                            <br>
                            <div type="button" class="dashbord-done">вкладка "моя страница"</div>
                            <br>
                            <div type="button" class="dashbord-done">настройка своей страницы</div>
                            <br>
                            <div type="button" class="dashbord-done">темная тема</div>
                            <br>
                            <div type="button" class="dashbord">новости</div>
                            <br>
                            <div type="button" class="dashbord">страница с чатами</div>
                            <br>
                            <div type="button" class="dashbord">бд для чатов</div>
                            <br>
                            <div type="button" class="dashbord">просмотр страниц других юзеров</div>
                            <br>
                            <div type="button" class="dashbord">добавление постов на свою страницу</div>
                            <br>
                            <div type="button" class="dashbord">панель администратора</div>
                            <br>
                            <div type="button" class="dashbord">музыка</div>
                            <br>
                            <div type="button" class="dashbord">связь с разработчиком</div>
                            <br>
                            <div type="button" class="dashbord">просмотры к постам</div>
                            <br>
                            <div type="button" class="dashbord">сообщества</div>
                            <br>
                            <div type="button" class="dashbord">опросы</div>
                            <br>
                            <div type="button" class="dashbord">видео</div>
                        </div>
                    </div>
                    <div class="footer-link padding-top--24">
                        <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                            <span><a href="#">© Allelleo</a></span>
                            <span><a href="#">Contact</a></span>
                            <span><a href="#">Privacy & terms</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>